<div class="sign-up-form">
  <h2>Sign up</h2>
  <form [formGroup]="registrationForm" novalidate (ngSubmit)="submit()">
    <div>
      <input placeholder="*email" formControlName="email" />
      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['email'].invalid &&
          (registrationForm.controls['email'].touched || this.formSubmitted)
        "
      >
        <span>Incorrect e-mail</span>
      </div>
    </div>
    <div>
      <input placeholder="*username" formControlName="userName" />
      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['userName'].hasError('required') &&
          registrationForm.controls['userName'].invalid &&
          (registrationForm.controls['userName'].touched || this.formSubmitted)
        "
      >
        <span> Enter your name</span>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['userName'].hasError('minlength') ||
          registrationForm.controls['userName'].hasError('maxlength')
        "
      >
        <span>Use 4 to 64 characters</span>
      </div>
    </div>

    <div>
      <input placeholder="*password" formControlName="password" />
      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['password'].hasError('required') &&
          (registrationForm.controls['password'].touched || this.formSubmitted)
        "
      >
        <span> Incorrect password</span>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['password'].hasError('minlength') ||
          registrationForm.controls['password'].hasError('maxlength')
        "
      >
        <span>Use 8 to 64 characters</span>
      </div>

      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['password'].hasError('passwordStrength')
        "
      >
        <span>
          It must contains uppercase letters and numbers:
          {{
            registrationForm.controls["password"].errors!["passwordStrength"]
          }}
        </span>
      </div>
    </div>
    <div>
      <input
        placeholder="*repeat yor password"
        formControlName="repeatPassword"
      />
      <div
        class="alert alert-danger"
        *ngIf="(registrationForm.errors?.['identityRevealed'] ||
            registrationForm.controls['repeatPassword'].invalid) &&
          (registrationForm.controls['repeatPassword'].touched  || this.formSubmitted)
        "
      >
        <span>Password doesn't match</span>
      </div>
    </div>

    <div>
      <span style="color: rgb(99, 99, 99)">+</span>
      <input placeholder="phone number" formControlName="phone" />
      <div
        class="alert alert-danger"
        *ngIf="
          registrationForm.controls['phone'].invalid &&
          (registrationForm.controls['phone'].touched || this.formSubmitted)
        "
      >
        <span> The number must contains 9-12 symbols, only digits</span>
      </div>
    </div>

    <button type="submit" dis>Sign up</button>
  </form>
</div>
<!-- [disabled]="registrationForm.invalid" -->
